.passwordsettings{
    margin-top: 15px;
    padding: 10px 30px 30px 30px;
    background-color: #242424;
    text-align: left;
}

.charTitle{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

#slidervalue{
    color: #a4ffaf;
    font-size: xx-large;
    margin: 0;
}

.slidecontainer{
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #1A1A1A;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 55px;  
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #a4ffaf; /* Green background */
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
    background: #1A1A1A; /* Green background */
    border: 2px solid #a4ffaf;
}
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.passwordsettings button{
    border-radius: 0;
    width: 100%;
    padding: 13px;
    background-color: #a4ffaf;
    color:#242424;
    border: none;
}

.passwordsettings button:hover{
    color: #a4ffaf;
    background-color:#242424;
    box-shadow:0px 0px 0px 3px #a4ffaf inset;
}

.warningMsg {
    background-color:  rgba(255, 128, 0, 0.45);
    color: #fff;
    padding: 10px 20px;
}