#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .passwordgenerator{
    width: 30em;
  }
  
  .generatedpasswords{
    padding-left: 20px;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
  }
  
  .generatedpasswords img{
    padding-right: 20px;
  }
  .generatedpasswords img:hover{
    transform:scale(1.2);
    transition: transform 330ms ease-in-out;
    cursor: pointer;
  }
  
  .copiedMessage {
    background-color: #a4ffaf;
    color: #000;
    padding: 15px 10px;
  }
  
  @media (max-width: 550px) {
    .passwordgenerator {
      width: 18em;
    }
  }