body {
    background-image: url('../../assets/background.jpg');
    background-repeat: repeat;
}

.goHome{
    position: fixed;
    top: 10px;
    left: 10px;
}

.GameTitle{
    font-family: verdana;
}

.MainPart{
    width: 60vw;
}


.WordleBoard, .Options, .KeyBoard{
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    -webkit-backdrop-filter: blur(17.8px);
}

.WordleBoard, .KeyBoard{
    margin: 10px 0px;
    padding: 20px 0px;
}


.Wordle{
    margin: auto;
}

.Wordle td{
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.2s, border 0.2s;
}

.Wordle .current-row td {
    background-color: #222;
}


/* ----- KeyBoard CSS ------ */

.Line{
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

.Letters {
    font-size: large;
    background-color: #232323;
    border-radius: 5px;
    padding: 0px 10px;
    height: 35px;
    margin: 0px 1px;
    cursor: pointer;
}



.green {
    background-color: green;
}  
.yellow {
    background-color: yellow;
}

.grey {
    background-color: #444;
}

.default {
    background-color: #111;
}

.Wordle .current-cell {
    box-shadow: inset 0 0 3px white;
}

.Options{
    padding: 10px 20px;
}

.Notify{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: lightsalmon;
    color: black;
    font-size: large;
    padding: 10px 20px;
    border-radius: 8px;
}